# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/MakeAPiano/.vs/BasicProgramming/v16
/MakeAPiano/Release
/MakeAPiano/Life_Income/Release
/MakeAPiano/Debug/New_Lifetime_Earning.ilk
/MakeAPiano/Debug/New_Lifetime_Earning.pdb
/MakeAPiano/New_Lifetime_Earning/Debug/New_Life.9336BA56.tlog/New_Lifetime_Earning.lastbuildstate
/MakeAPiano/New_Lifetime_Earning/Debug/New_Life.9336BA56.tlog/link.write.1.tlog
/MakeAPiano/New_Lifetime_Earning/Debug/New_Life.9336BA56.tlog/link.read.1.tlog
/MakeAPiano/New_Lifetime_Earning/Debug/New_Life.9336BA56.tlog/link.command.1.tlog
/MakeAPiano/New_Lifetime_Earning/Debug/New_Life.9336BA56.tlog/CL.write.1.tlog
/MakeAPiano/New_Lifetime_Earning/Debug/New_Life.9336BA56.tlog/CL.read.1.tlog
/MakeAPiano/New_Lifetime_Earning/Debug/New_Life.9336BA56.tlog/CL.command.1.tlog
/MakeAPiano/New_Lifetime_Earning/Debug/vc142.pdb
/MakeAPiano/New_Lifetime_Earning/Debug/vc142.idb
/MakeAPiano/New_Lifetime_Earning/New_Lifetime_Earning.vcxproj.user
/MakeAPiano/New_Lifetime_Earning/New_Lifetime_Earning.vcxproj.filters
/MakeAPiano/New_Lifetime_Earning/New_Lifetime_Earning.vcxproj
/MakeAPiano/Debug
/MakeAPiano/IsItACircle/Debug
/MakeAPiano/IsItACircle/IsItACircle.vcxproj.user
/MakeAPiano/IsItACircle/IsItACircle.vcxproj.filters
/MakeAPiano/IsItACircle/IsItACircle.vcxproj
/MakeAPiano/New_Lifetime_Earning/Debug/New_Life.9336BA56.tlog
/Let's_Make_Game/.vs/Let's_Make_Game/v16
/Let's_Make_Game/Baseball_game/Debug
/Let's_Make_Game/Debug
/Let's_Make_Game/Baseball_game/Baseball_game.vcxproj.user
/Let's_Make_Game/Baseball_game/Baseball_game.vcxproj.filters
/Let's_Make_Game/Baseball_game/Baseball_game.vcxproj

#CMake
/CMakeCache.txt
/cmake_install.cmake
/CMakeFiles/
/Makefile
/Codes/OOP/CMakeFiles
/Codes/OOP/CMakeCache.txt
/Codes/OOP/build/CMakeFiles
/Codes/OOP/build/CMakeCache.txt
/Codes/OOP/build/cmake_install.cmake
/Codes/OOP/build/Makefile
